{% set pager__base_class = 'pager' %}

{% if posts.pagination.pages is not empty %}
    <nav {{ bem(pager__base_class) }} role="navigation">
        <ul {{ bem('items', [], pager__base_class, ['js-pager__items']) }}>

            {# First #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li {{ bem('item', ['first'], pager__base_class) }}>
                    <a {{ bem('link', ['first'], pager__base_class) }} href="{{ posts.pagination.pages|first.link }}">First</a>
                </li>
            {% else %}
                <li {{ bem('item', ['first-disabled'], pager__base_class, ['visually-hidden']) }}>
                    <button disabled>First</button>
                </li>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li {{ bem('item', ['prev'], pager__base_class) }}>
                    <a aria-label="Previous" {{ bem('link', ['prev'], pager__base_class) }} href="{{ posts.pagination.prev.link }}"></a>
                </li>
            {% else %}
                <li {{ bem('item', ['prev-disabled'], pager__base_class, ['visually-hidden']) }}>
                    <button disabled>Previous</button>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li {{ bem('item', [], pager__base_class) }}>
                        <a {{ bem('link', [], pager__base_class) }} href="{{ page.link }}">{{ page.title }}</a>
                    </li>
                {# if it is current #}
                {% elseif page.current == true %}
                    <li {{ bem('item', ['current'], pager__base_class) }}>
                        <span {{ bem('link', ['current'], pager__base_class) }}>{{ page.title }}</span>
                    </li>
                {% else %}
                    <li {{ bem('item', [], pager__base_class) }}>
                      {{ page.title }}
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li {{ bem('item', ['next'], pager__base_class) }}>
                    <a aria-label="Next" {{ bem('link', ['next'], pager__base_class) }} href="{{ posts.pagination.next.link }}"></a>
                </li>
            {% else %}
                <li {{ bem('item', ['next-disabled'], pager__base_class, ['visually-hidden']) }}>
                    <button disabled>Next</button>
                </li>
            {% endif %}

            {# Last #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li {{ bem('item', ['last'], pager__base_class) }}>
                    <a {{ bem('link', ['last'], pager__base_class) }} href="{{ posts.pagination.pages|last.link }}">Last</a>
                </li>
            {% else %}
                <li {{ bem('item', ['last-disabled'], pager__base_class, ['visually-hidden']) }}>
                    <button disabled>Last</button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
